@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
    --color01: hsl(0, 0%, 100%);
    --color02: hsl(212, 45%, 89%);
    --color03: hsl(220, 15%, 55%);
    --color04: hsl(218, 44%, 22%);
    --font: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: var(--font);
}

body {
    background-color: var(--color02);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.151);
    border-radius: 20px;
    background-color: var(--color01);
    display: flex;
    position: relative;
    max-width: 300px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}



.conteudo h1 {
    font-size: 1.5rem;
    padding-top: 20px;
    color: var(--color04);
    text-align: center;
}

.conteudo p {
    padding: 20px;
    color: var(--color03);
    text-align: center;
}